.cimg{
    position: relative;
    height: 70vh;
    background-size: 100%;
width: 100%;
}

.cimg:before{
    content: '';
    position: absolute;
    background: rgba(0,0,0,0.7);
    height: 70vh;
    background-size: 100%;
width: 100%;
}
.te{
    position: relative;
  text-align: center;
  color: white;
}

.carousel-caption{
    top: 100px;
    left: 0;
    right: 600px;
    bottom: auto;
  color: rgb(255, 255, 255);
}

.imm {
    height: 90vh;
    
  width:100%
  }


.imgtext{
    position: absolute;
left: 500px;
filter: drop-shadow(0px 12px 5px rgba(0, 0, 0, 0.25));
}

.newstext{
    position: relative;
font-family: Quattrocento Sans;
font-weight: bold;
font-size: 44px;
text-align: center;
color: #000000;

text-shadow: 0px 19px 5px rgba(0, 0, 0, 0.25);
}

.news{
    position: relative;
width: 1250px;
height: fit-content;
left: 50px;
background: rgba(65, 198, 206, 0.2);
border-radius: 45px;
box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.news:hover{
box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
transform: scale(0.95);
}

.tempimg{
    position: relative;
width: 340px;
height: 220px;
border-radius: 40px;
}

.temptext{
    position: relative;
    left: 10px;
    top:0;
    font-family: Quattrocento Sans;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: #000000;
}

.reedmore{
    position: relative;
    left: 60%;
    top: -100px;
    background: rgba(65, 198, 206);
    font-weight: bold;
}

.hh2:hover{
    transform: scale(1.1);
    -webkit-transition: transform 2s ease-in-out;
}