.big{
  background: url(./imges/b.jpg);
  filter: brightness(90%);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.div11{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1000px;
transform: translate(-50%, -50%);
}

.child{
  position:relative;
background: url(./imges/h.jpg);
background-size: 100%;
filter: brightness(90%);
width: 600px;
height: 600px;
left: 0%;
right: 0%;
box-shadow: inset 0px 0px 100px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px 0px 0px 50px;

position: relative;
backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 50px 0px 0px 50px;
}

.ttitle{
  position: relative;
width: 380px;
height: 138px;
top: 100px;
font-family: Quattrocento Sans;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 40px;
text-align: center;
color:violet;
}

.child2{
position: relative;
width: 600px;
height: 600px;
background: #F9F1F1;
border-radius: 0px 50px 50px 0px;
box-shadow: inset 0px 0px 9px 3px rgba(0, 0, 0, 0.25);

}

.signIn{
  position: relative;
width: 150px;
height: 60px;
left: 130px;
top: 150px;
background:#E6109D;
opacity: 0.7;
font-family: Quattrocento Sans;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 40px;
text-align: center;
color: #000000;
border-radius: 50px;
}

.signIn:hover{
  opacity: 0.9;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.signUp:hover{
  opacity: 0.9;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.signUp{
  position: relative;
width: 150px;
height: 40px;
margin-top: 5px;
left:30%;
background: #CC0E74;
border-radius: 50px;
font-family: Quattrocento Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 40px;
text-align: center;
color: #FFFEFE;

}

h3{
  font-family: Arial Rounded MT Bold;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 42px;
color: #727071;
  text-align: center;
}
